.container {
  width: 475px;
  height: 475px;
  padding: 40px;
  border: 5px solid black;
  margin: 0 auto;
}

.cells {
  width: 150px;
  height: 150px;
  background-color: white;
  border: 3px solid red;
  float: left;
  color: black;
  margin: 0 auto;
}

.header {
  height: 100px;
  text-align: center;
}